<% include ./partials/header.ejs %>

<div class="ui main text container segment">
	<div class="ui huge header"><%= blog.title %></div>
	<div class="ui top atttached">
		<div class="item">
			<img class="ui centered rounded image" src="<%= blog.image %>">
			<div class="content">
				<span><%= blog.created.toDateString() %></span>
			</div>
			<div class="description">
				<!-- Using the - instead of = behind the javacript tag causes blog.body to be evaluated as HTML -->
				<p><%- blog.body %></p>
			</div>
			<a href="blogs/<%= blog._id %>/edit" class="ui blue basic button">Edit</a>
			<form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
				<button class="ui red basic button" id="delete">Delete</button>
			</form>
		</div>
	</div>
</div>
	
<% include ./partials/footer.ejs %>